@import url('https://fonts.googleapis.com/css2?family=Patrick+Hand&family=Permanent+Marker&display=swap');

:root {
    --main-color: #2B2626;
}

html, body, #root {
    height: 100%;
}
#root {
    display: flex;
    flex-direction: column;
}
#root > main {
    flex: 1;
}

h1, h2, h3, p, a{
    color: var(--main-color);
}

.bg-main-color{
    background-color: var(--main-color);
}
.font-pm{
    font-family: 'Permanent Marker', sans-serif;
}

.font-ph{
    font-family: 'Patrick Hand', sans-serif;
}

.font-20px{
    font-size: 1.25rem;
}

.font-24px{
    font-size: 1.5rem;
}

.line-height-1{
    line-height: 1;
}

.flex-gap{
    gap: 1rem;
}

.flex-1{
    flex: 1;
}
.offcanvas-end{
    width: 100%;
}

.navbar-toggler:focus, .btn-check:focus+.btn, .btn:focus, .form-control:focus, .form-check-input:focus{
    box-shadow: none;
}
.navbar-light .navbar-toggler{
    border: none;
}

.navbar-toggler{
    font-size: 2rem;
}

.btn-close{
    opacity: 1;
}

.navbar-light .navbar-toggler-icon{
    background-image: url('../../../public/hamburguer_menu_vector3.png');
}

.form-check-input:checked {
    background-color: var(--bs-dark);
    border-color: var(--bs-dark);
}

.btn-primary {
    background-color: var(--bs-purple);
    border-color: var(--bs-purple);
}

.btn-primary:hover {
    background-color: var(--bs-purple);
    border-color: var(--bs-purple);
}
td button{
    width: 65px;
}

iframe{
    max-width: 100%;
}