:root {
    --green:  #87F29F;
    --yellow: #FCFF60;
    --pink: #FF8DF4;
    --blue: #67E4FF;
    --var: #2B2626;
}

.post-it{
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    transition: all 0.2s;
}

.pi-size{
    width: 150px;
    height: 150px;
}

.pi-problem-size{
    width: 250px;
    height: 250px;
}

.pi-problem-size-form{
    width: 280px;
    height: 280px;
}

/* BACKGROUND */
.bg-color-green{
    background-color: var(--green);
}
.bg-color-yellow{
    background-color: var(--yellow);
}
.bg-color-pink{
    background-color: var(--pink);
}
.bg-color-blue{
    background-color: var(--blue);
}
/* BACKGROUND PAGE COLABORAÇÃO*/
.colaboration-css a:nth-child(1n){
    background-color: var(--green);
}
.colaboration-css a:nth-child(2n){
    background-color: var(--yellow)!important;
}
.colaboration-css a:nth-child(3n){
    background-color: var(--pink);
}
.colaboration-css a:nth-child(7n){
    background-color: var(--pink);
}
.colaboration-css a:nth-child(5n){
    background-color: var(--blue)!important;
}
.colaboration-css a:nth-child(4n){
    background-color: var(--blue)!important;
}
.colaboration-css a:nth-child(8n){
    background-color: var(--yellow)!important;
}
/* BACKGROUND PAGE PROBLEMA*/
.colaboration-css div:nth-child(1n){
    background-color: var(--green);
}
.colaboration-css div:nth-child(2n){
    background-color: var(--yellow)!important;
}
.colaboration-css div:nth-child(3n){
    background-color: var(--pink);
}
.colaboration-css div:nth-child(7n){
    background-color: var(--pink)!important;
}
.colaboration-css div:nth-child(5n){
    background-color: var(--blue)!important;
}
.colaboration-css div:nth-child(4n){
    background-color: var(--blue)!important;
}
.colaboration-css div:nth-child(8n){
    background-color: var(--yellow)!important;
}


/* ROTATE*/
.rotate-2{
    transform: rotate(-2deg);
}
.rotate2{
    transform: rotate(2deg);
}
.rotate-5{
    transform: rotate(-5deg);
}
.rotate5{
    transform: rotate(5deg);
}
/* ROTATE PAGE COLABORAÇÃO*/
.colaboration-css a:nth-child(odd){
    transform: rotate(-5deg);
}

.colaboration-css a:nth-child(even){
    transform: rotate(5deg);
}
/* ROTATE PAGE PROBLEMA*/
.colaboration-css div:nth-child(odd){
    transform: rotate(-3deg);
}

.colaboration-css div:nth-child(even){
    transform: rotate(3deg);
}

/*POST-IT HOVER/FOCUS*/
.colaboration-css a:hover{
    transform: scale(1.2);
    position:relative;
    z-index:5;
}
.colaboration-css div:hover{
    transform: scale(1.2);
    position:relative;
    z-index:5;
}

.post-it:hover{
    transform: scale(1.2);
    position:relative;
    z-index:5;
}

.display-grid{
    display: grid;
    grid-template-columns: auto auto;
}

.display-grid-problem{
    display: grid;
}

.form-postit{
    background-color: transparent;
    border: none;
    color: #2B2626;
}
.form-postit::placeholder{
    color: #2B2626;
}

.form-postit-ta{
    width: 100%;
    height: 170px;
    resize: none;
}


@media (min-width: 768px){
    .display-grid{
        grid-template-columns: auto auto auto;
    }
    .display-grid-problem{
        grid-template-columns: auto auto;
    }
}

@media (min-width: 992px){
    .pi-size{
        width: 180px;
        height: 180px;
    }
    .line-height-15{
        line-height: 1.5;
    }
    .display-grid{
        grid-template-columns: auto auto auto auto;
    }
    .display-grid-problem{
        grid-template-columns: auto auto auto;
    }
}

@media (min-width: 1200px){
    .display-grid-problem{
        grid-template-columns: auto auto auto auto;
    }
}